@import "tailwindcss";

@theme {
  --color-hospital-blue: #0D47A1;
  --color-hospital-light: #42A5F5;
  --color-hospital-bg: #F5F7FA;
  --color-hospital-text: #171717;
  
  --font-sans: var(--font-inter);
}

:root {
  --background: #F5F7FA;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
